.allCont {
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    margin-top: 10vh;
    margin-left: -5%;
    padding-bottom: 200px;
  }
  
  .divForActivities {
    width: 30%; 
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 0.5vw solid rgb(44, 46, 47);
    border-radius: 0.5em;
    position: relative;
    background-color: rgba(6, 6, 6, 0.700);
    color: rgb(194, 142, 32);
    text-align: start;
    padding: 2%;
    box-shadow: 0px 0px 2vw rgb(0, 0, 0);
    margin-bottom: 3vh;
    margin-left: 20px; 
    margin-right: 20px; 
  }
  
  .countriesContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  
  .img {
    height: 20px;
    width: 30px;
  }


  .btnLink { 
    width: 10%;
    border-radius: 1em;
    border: 0.3vw solid rgb(5, 5, 5); 
    background-color: white;
    color: black;
    box-sizing: border-box;
    position: fixed;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  @media (max-width: 768px) {
    .allCont {
      flex-direction: column;
      justify-content: center;
    }
  
    .divForActivities {
      width: 80%;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 5vh;
    }
  }
  
  @media (max-width: 480px) {
    .divForActivities {
      width: 100%;
    }
  }