/* .body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

.dataDiv{
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 5px solid rgba(194, 143, 32, 0.500);
    background-color:rgba(6, 6, 6, 0.700);
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    position: relative;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    z-index: 2;

    margin-bottom: 45px;
}

.image{
    width: 320px;
    height: 213px;
    align-self: center;
    border: 5px solid rgb(44, 46, 47);
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.titulo{
    color: rgb(194, 142, 32);
}

.rightContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
}

.btn{
    width: 160px;
    max-height: 40px;
    padding: 6px;
    margin-top: 20px;
    border-radius: 5px;
    border-color: #000000;
    background-color: white;
    color: black;
    transition: background-color 0.2s ease-out 0.2s;
    &:hover{
        background-color: rgb(194, 142, 32);
        color: black;
    }
} */

/* Estilos base */
.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 600px;
    margin-top: 70px;
    position: relative;
}


.dataDiv {
    width: 100%;
    max-width: 400px; /* Ancho máximo para dispositivos pequeños */
    height: 70%;
    min-height: auto;
    margin-bottom: 20px;
    padding: 20px;
    border: 5px solid rgba(194, 143, 32, 0.500);
    background-color:rgba(6, 6, 6, 0.700);
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    color: white;
}

.titulo{
    color: rgb(194, 142, 32);
}


.rightContainer {
    width: 100%;
    max-width: 400px; /* Ancho máximo para dispositivos pequeños */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image {
    width: 100%;
    max-width: 320px;
    height: auto;
    border: 5px solid #ccc;
    border: 5px solid rgb(44, 46, 47);
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    margin-bottom: 20px;
}

.btn {
    margin-left: 55px;
    width: 50%;
    max-width: 320px;
    padding: 10px;
    border-radius: 5px;
    border-color: #000000;
    background-color: white;
    color: black;
    transition: background-color 0.2s ease-out 0.2s;
}

.btn:hover {
    background-color: rgb(194, 142, 32);
    color: black
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Opcional: centrar elementos horizontalmente */
    }

    .image,
    .dataDiv,
    .btn {
        width: 90%; /* Ancho relativo para dispositivos más pequeños */
        max-width: 350px; /* Puedes ajustar el máximo ancho según tus necesidades */
        margin-bottom: 20px; /* Agregar espacio entre elementos */
    }



}