.body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}   
.video{
    width:100%;
    height: 100%;
}

.textDiv {
    width: 30%;
    height: auto; /* Cambiado a altura automática */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: space-evenly;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el textDiv en el centro */
    border: 5px solid rgba(44, 46, 47, 0.481);
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.207);
    text-align: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 47);
    z-index: 2;
    padding: 20px; /* Ajuste de espaciado interior */
}

.email{
background-color: rgba(110, 110, 110, 0.453);
}

.password{
background-color: rgba(110, 110, 110, 0.453);
}

.errors{
    font-weight: bold;
    color: red
}

.changinTitle{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size:x-large;
}

.btn{
    height: auto;
    width: 200px;
    padding: 6px;
    margin: 15px 10px 15px 10px;
    border-radius: 5px;
    border-color: #f9f9f9;
    background-color: rgba(194, 143, 32, 0.315);
    color: black;
    transition: background-color 0.1s ease-out 0.2s;
    &:hover{
        background-color: rgb(194, 142, 32);
        color: black;
    }
}

.iconsp{
    width: 12px;
    height: 12px;
}
@media screen and (max-width: 650px) {

    .changinTitle{
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        font-size:small;
    }
    
}