
.container {
    color: white;
    position: relative;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    border: 2px solid black; 
    padding: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.error {
    color: red;
}

.content {
    background-color: rgba(255, 255, 255, 0.295);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
    max-width: 500px; 
    margin: 0 auto; 
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px; 
}

.content form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content label {
    margin-bottom: 5px;
}

.content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.checkbox input {
    margin-right: 10px;
}

.checkbox label {
    margin: 0; 
    width: 50px;
}


@media screen and (max-width: 600px) {
    .content {
        padding: 10px; 
    }

}